.aboutContainer {
    height: 100%;
}

.left,
.right {
    margin: 0;
    padding: 0;
}

.left img,
.right img {
    margin: 0;
    padding: 0;
}

.left img {
    width: 98.7vw;
    height: auto;
    
    margin-bottom: 0;
    padding: 0;
}

.right img {
    padding: 0;
    margin-top: 0;
    width: 98.7vw;
    height: auto;
    transform: rotateY(180deg);
}

div div.textLeft p,
div div.textRight p {
    position: absolute;
}

div div.textLeft p {
    color: #e09302;
    text-shadow: 2px 2px #dfd9d9;

    top: 25%;
    width: 400px;
    left: 25px;

    font-size: 27px;
    font-weight: 700;
    letter-spacing: 1px;
}

div div.textRight p {
    color: #e09302;
    text-shadow: 2px 2px #dfd9d9;

    top: 135%;
    width: 400px;
    right: 35px;

    font-size: 27px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
}