.img img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

form {
    width: 80%;
    max-width: 800px;

    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 25%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

::-webkit-input-placeholder {
   color: #c2c0c0ec;
}

:-moz-placeholder { /* Firefox 18- */
   color: #c2c0c0ec;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #c2c0c0ec;  
}

:-ms-input-placeholder {  
   color: #c2c0c0ec;  
}

form input, textarea {
    background: rgba(255, 255, 255, 0.137);

    font-family: Roboto, Arial, sans-serif;

    width: 98.8%;

    box-sizing: border-box;

    margin: 0;
    padding: 0.7rem;
    outline: none;
    font-size: 1rem;

    letter-spacing: 0.092rem;

    color: #ffefef;

    transition: all 0.3s;
}

form input{
    height: 3.3rem;

    border-radius: 4px;
}

form textarea {
    height: 7rem;

    resize: none;

    border-radius: 4px;
}

form label {
    font-family: Roboto, Arial, sans-serif;

    color: #f0e6e6;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0.0985rem;
}

form div:nth-child(3),
form div:nth-child(4),
form div:nth-child(5) {
    grid-column: span 2;
}

form button {

    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 700;
    width: 5rem;
    height: 1.8rem;

    border-radius: .2rem;

    border: none;
    overflow: hidden;

    background: #e09302;
    color: #dfd9d9;
    box-shadow: 0px 0px 5px #e09302;

    cursor: pointer;

    grid-column: 2;
    justify-self: end;

    transition: all 0.5s;
}

form button:hover {
    background: #f0e6e6;
    color: #e09302;
    box-shadow: 0px 0px 5px #f0e6e6;
}

form input:focus:invalid,
form textarea:focus:invalid {
    background: rgba(255, 255, 255, 0.137) url(../../assets/invalid.png) no-repeat 98% center;
    border: 2px solid #e90e0e;
    box-shadow: 0px 0px 5px #dd2828;
    transition: all 0.3s;
}

form input:focus:valid,
form textarea:focus:valid {
    background: rgba(255, 255, 255, 0.137) url(../../assets/valid.png) no-repeat 98% center;
    border: 2px solid #0e880e;
    box-shadow: 0px 0px 5px #069706;
}

@media (max-width: 1024px) {
    html {
        font-size: 80%;
    }

    form {
        width: 60%;
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 80%;
    }

    form div:nth-child(1),
    form div:nth-child(2) {
        grid-column: span 2;
    }

    form button {
        margin-bottom: 20%;
    }
}