.content .img {
    margin: 0;
    padding: 0;
}

.content .img img {
    width: 98.5vw;
    height: 100vh;
    margin: 0;
}

.content #text {
    position: absolute;
    top: 40%;
    left: 2%;

    width: 35%;

    color: #e4dcdc;
}

.content #text .h h3{
    margin: 1% auto;
    font-weight: 400;
    font-size: 1.3rem;
}

.content #text .h h1 {
    font-family: Share, Roboto, sans-serif;
    margin: 1% auto 2%;
    font-size: 3.2rem;
    letter-spacing: 1px;
    text-shadow: 3px 3px #d49010;
}

.content #text .h h2 {
    font-family: Share, Roboto, sans-serif;
    margin-top: 2%;
    margin-bottom: 8%;
    font-weight: 700;
    font-size: 1.9rem;
    color: #c28616;
}

.content #text p {
    font-size: 1.03rem;
    text-align: left;
    font-weight: 400;
}

@media (max-width: 768px) {
    html {
        font-size: 70%;
    }
}